[submodule "r2-testapp-swift"]
	path = r2-testapp-swift
	url = git@github.com:readium/r2-testapp-swift.git
[submodule "r2-lcp-swift"]
	path = r2-lcp-swift
	url = git@github.com:readium/r2-lcp-swift.git
[submodule "r2-lcp-wrapper-swift"]
	path = r2-lcp-wrapper-swift
	url = git@github.com:readium/r2-lcp-wrapper-swift.git
