[submodule "r2-testapp-swift"]
	path = r2-testapp-swift
url=https://github.com/readium/r2-testapp-swift.git
[submodule "r2-shared-swift"]
	path = r2-shared-swift
url=https://github.com/readium/r2-shared-swift.git
[submodule "r2-streamer-swift"]
	path = r2-streamer-swift
url=https://github.com/readium/r2-streamer-swift.git
[submodule "r2-navigator-swift"]
	path = r2-navigator-swift
url=https://github.com/eadium/r2-navigator-swift.git
[submodule "readium-opds-swift"]
	path = readium-opds-swift
url=https://github.com/readium/readium-opds-swift.git
